<section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(assets/img/img_1.jpg);"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 data-animate-effect="fadeIn" class="galleryTitle">Just Do It!</h1>
        <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
          <h2>Alla Vasylyga</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <table class="table table-striped">
    <colgroup>
      <col span="8">
      <col style="background-color:limegreen">
      <col span="7">
      <col style="background-color:limegreen">
      <col style="background-color:lightsteelblue">
    </colgroup>
      <tr>
          <th>Participant</th>
          <th>April 22</th> 
          <th>April 23</th>
          <th>April 24</th>
          <th>April 25</th>
          <th>April 26</th>
          <th>April 27</th>
          <th>April 28</th>
          <th>Week 1</th>
          <th>April 29</th>
          <th>April 30</th>
          <th>May 1</th>
          <th>May 2</th>
          <th>May 3</th>
          <th>May 4</th>
          <th>May 5</th>
          <th>Week 2</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Ama</td>
          <td *ngFor="let cardio of ama1">{{cardio}}</td>
          <td>{{ama1Total}}</td>
          <td *ngFor="let cardio of ama2">{{cardio}}</td>
          <td>{{ama2Total}}</td>
          <td>{{amaAll}}</td>
        </tr>
        <tr>
          <td>Anna</td> 
          <td *ngFor="let cardio of anna1">{{cardio}}</td>
          <td>{{anna1Total}}</td>
          <td *ngFor="let cardio of anna2">{{cardio}}</td>
          <td>{{anna2Total}}</td>
          <td>{{annaAll}}</td>
        </tr>
        <tr>
          <td>Bruce</td>
          <td *ngFor="let cardio of bruce1">{{cardio}}</td>
          <td>{{bruce1Total}}</td>
          <td *ngFor="let cardio of bruce2">{{cardio}}</td>
          <td>{{bruce2Total}}</td>
          <td>{{bruceAll}}</td>
        </tr>
        <tr>
          <td>Debra</td>
          <td *ngFor="let cardio of debra1">{{cardio}}</td>
          <td>{{debra1Total}}</td>
          <td *ngFor="let cardio of debra2">{{cardio}}</td>
          <td>{{debra2Total}}</td>
          <td>{{debraAll}}</td>
        </tr>
        <tr>
          <td>Evgenia</td>
          <td *ngFor="let cardio of evg1">{{cardio}}</td>
          <td>{{evg1Total}}</td>
          <td *ngFor="let cardio of evg2">{{cardio}}</td>
          <td>{{evg2Total}}</td>
          <td>{{evgAll}}</td>
        </tr>
        <tr>
          <td>Gwen</td>
          <td *ngFor="let cardio of gwen1">{{cardio}}</td>
          <td>{{gwen1Total}}</td>
          <td *ngFor="let cardio of gwen2">{{cardio}}</td>
          <td>{{gwen2Total}}</td>
          <td>{{gwenAll}}</td>
        </tr>
        <tr>
          <td>India</td>
          <td *ngFor="let cardio of ind1">{{cardio}}</td>
          <td>{{ind1Total}}</td>
          <td *ngFor="let cardio of ind2">{{cardio}}</td>
          <td>{{ind2Total}}</td>
          <td>{{indAll}}</td>
        </tr>
        <tr>
          <td>Metty</td>
          <td *ngFor="let cardio of met1">{{cardio}}</td>
          <td>{{met1Total}}</td>
          <td *ngFor="let cardio of met2">{{cardio}}</td>
          <td>{{met2Total}}</td>
          <td>{{metAll}}</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Naomi</td>
          <td *ngFor="let cardio of nao1">{{cardio}}</td>
          <td>{{nao1Total}}</td>
          <td *ngFor="let cardio of nao2">{{cardio}}</td>
          <td>{{nao2Total}}</td>
          <td>{{naoAll}}</td>
        </tr>
        <tr>
          <td>Pam</td>
          <td *ngFor="let cardio of pam1">{{cardio}}</td>
          <td>{{pam1Total}}</td>
          <td *ngFor="let cardio of pam2">{{cardio}}</td>
          <td>{{pam2Total}}</td>
          <td>{{pamAll}}</td>
        </tr>
        <tr>
          <td>Pavithra</td>
          <td *ngFor="let cardio of pav1">{{cardio}}</td>
          <td>{{pav1Total}}</td>
          <td *ngFor="let cardio of pav2">{{cardio}}</td>
          <td>{{pav2Total}}</td>
          <td>{{pavAll}}</td>
        </tr>
        <tr>
          <td>Shamyla</td>
          <td *ngFor="let cardio of sham1">{{cardio}}</td>
          <td>{{sham1Total}}</td>
          <td *ngFor="let cardio of sham2">{{cardio}}</td>
          <td>{{sham2Total}}</td>
          <td>{{shamAll}}</td>
        </tr>
        <tr>
          <td>Sonia</td>
          <td *ngFor="let cardio of son1">{{cardio}}</td>
          <td>{{son1Total}}</td>
          <td *ngFor="let cardio of son2">{{cardio}}</td>
          <td>{{son2Total}}</td>
          <td>{{sonAll}}</td>
        </tr>
  </table>
</section>