<div [ngStyle]="mobileWidth">
  <section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(../../assets/img/fitBanner3.jpeg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 probootstrap-intro-text">
          <h1 data-animate-effect="fadeIn" class="myTitle">Cardio Challenge</h1>
          <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
            <h2 style="color:tomato; text-shadow: 2px 2px brown">Step by Step</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="myTable">
      <h2 style="text-align:center">Week 1 & 2</h2>
      <table class="table table-striped" style="border:solid">
        <colgroup>
          <col style="background-color:beige;">
          <col span="10">
          <col style="background-color:skyblue">
          <col span="7">
          <col style="background-color:skyblue">
          <col style="background-color:palegreen">
        </colgroup>
        <tr>
          <th>Participant</th>
          <th>May 1</th>
          <th>May 2</th>
          <th>May 3</th>
          <th>May 4</th>
          <th>May 5</th>
          <th>May 6</th>
          <th>May 7</th>
          <th>May 8</th>
          <th>May 9</th>
          <th>May 10</th>
          <th>Week 1</th>
          <th>May 11</th>
          <th>May 12</th>
          <th>May 13</th>
          <th>May 14</th>
          <th>May 15</th>
          <th>May 16</th>
          <th>May 17</th>
          <th>Week 2</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let user of steps">
            <td style="font-weight: 600;">{{user.name}}</td>
            <td *ngFor="let cardio of user.week1">{{cardio}}</td>
            <td style="font-weight: 600;">{{user.week1Tot}}</td>
            <td *ngFor="let cardio of user.week2">{{cardio}}</td>
            <td style="font-weight: 600;">{{user.week2Tot}}</td>
            <td style="font-weight: 600;">{{user.half1}}</td>
          </tr>

      </table>
    </div>

    <div class="myTable">
        <h2 style="text-align:center">Week 3 & 4</h2>
        <table class="table table-striped" style="border:solid">
          <colgroup>
            <col style="background-color:beige; font-weight:bold;">
            <col span="7">
            <col style="background-color:skyblue">
            <col span="7">
            <col style="background-color:skyblue">
            <col style="background-color:palegreen">
          </colgroup>
          <tr>
            <th>Participant</th>
            <th>May 18</th>
            <th>May 19</th>
            <th>May 20</th>
            <th>May 21</th>
            <th>May 22</th>
            <th>May 23</th>
            <th>May 24</th>
            <th>Week 3</th>
            <th>May 25</th>
            <th>May 26</th>
            <th>May 27</th>
            <th>May 28</th>
            <th>May 29</th>
            <th>May 30</th>
            <th>May 31</th>
            <th>Week 4</th>
            <th>Month Total</th>
          </tr>
          <tr *ngFor="let user of steps">
            <td style="font-weight: 600;">{{user.name}}</td>
            <td *ngFor="let cardio of user.week3">{{cardio}}</td>
            <td style="font-weight: 600;">{{user.week3Tot}}</td>
            <td *ngFor="let cardio of user.week4">{{cardio}}</td>
            <td style="font-weight: 600;">{{user.week4Tot}}</td>
            <td style="font-weight: 600;">{{user.allTot}}</td>

          </tr>
        </table>
      </div>
      <div class="container" style="text-align:center">
        <img src="../../assets/img/Congratulations.gif">
        <br>
        <img src="../../assets/img/winner.JPG" width="400" height="550">
        <h4>Cardio Challenge Winner: Jan 6 - Feb 6</h4>
        <p style="font-size:40px">
          Nargis
        </p>

      </div>
      <div style="padding-top:10%"></div>

  </section>
</div>