
<div class="container3">
  <div>
    <table>
      <tr>
        <td class="thumb">
          <img class="thumbnail" [src]="article.data.thumbnailUrl" width="400" height="275">
        </td>
        <td class="top">
          <tr class="tr-title">
            {{ article.data.title }}
          </tr>
          <tr>
            {{ article.data.date }}
          </tr>
          <tr>
            <div class="meta">{{ article.data.description }}</div>
          </tr>
          <tr>
            <button class="btn-success readMore" id="top" [ngx-scroll-to]="'#destination'">Read More</button>
          </tr>
        </td>
        <td>
          <tr>
            <div class="votes">
                <div class='ui statistic'>
                  <div class="value">
                    {{ article.data.votes }}
                  </div>
                  <div class="label">
                  Likes
                  </div>
                </div>
              </div>
          </tr>
          <tr style="text-align:center;">
                  <td>
                    <a href="#" (click)="voteUp(article.id)">
                      <button><i class="arrow up icon"></i></button>
                    </a>
                    <a href="#" (click)="voteDown(article.id)">
                      <button><i class="arrow down icon"></i></button>
                    </a>
                  </td>
          </tr>
          
      </tr>
    </table>
    
    
   
  </div>
 
</div>
  