
<div class="container3">
  <div>
    <table>
      <tr>
        <td>
          <img class="thumbnail" [src]="article.data.thumbnailUrl" width="400" height="275">
        </td>
        <td class="top">
          <tr class="tr-title">
            {{ article.data.title }}
          </tr>
          <tr>
            <div class="meta">{{ article.data.description }}</div>
          </tr>
        </td>
        <td>
          <tr>
            <div class="votes">
                <div class='ui statistic'>
                  <div class="value">
                    {{ article.data.votes }}
                  </div>
                  <div class="label">
                  Likes
                  </div>
                </div>
              </div>
          </tr>
          <tr>
              <ul class="ui big horizontal list">
                  <li class="item">
                    <a href="#" (click)="voteUp(article.id)">
                      <i class="arrow up icon"></i>
                    </a>
                  </li>
                  <li class="item">
                    <a href="#" (click)="voteDown(article.id)">
                      <i class="arrow down icon"></i>
                    </a>
                  </li>
                </ul>
          </tr>
            
        </td>
      </tr>
    </table>
    
    
   
  </div>
 
</div>
  