
<div class="container">


  <div>
      <img class="thumbnail" [src]="article.data.thumbnailUrl" width="130" height="100">
    <a class="ui larger header">
      {{ article.data.title }}
    </a>
    <div class="meta">{{ article.data.description }}</div>
    <div class="four wide column center aligned votes">
        <div class='ui statistic'>
          <div class="value">
            {{ article.data.votes }}
          </div>
          <div class="label">
          Likes
          </div>
        </div>
      </div>
    <ul class="ui big horizontal list">
      <li class="item">
        <a href="#" (click)="voteUp(article.id)">
          <i class="arrow up icon"></i>
        </a>
      </li>
      <li class="item">
        <a href="#" (click)="voteDown(article.id)">
          <i class="arrow down icon"></i>
        </a>
      </li>
    </ul>
  </div>
 
</div>
  