<section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(../../assets/img/img_4.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 data-animate-effect="fadeIn">Contact</h1>
        <div class="probootstrap-subtitle probootstrap-animate" data-animate-effect="fadeIn">
          <h2>Alla Vasylyga</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: section -->
<main>
  <section id="next-section" class="probootstrap-section">
    <div class="container">
      <div class="col-md-6">
          <form action="#" method="post" class="probootstrap-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" name="lname">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" name="subject">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
            </div>
          </form>
        </div>
        <div class="col-md-5 col-md-push-1">
          <h3 class="mt0">Get In Touch</h3>
          <ul class="probootstrap-contact-info">
            <li><i class="fas fa-home text-primary"></i> <span>Silver Spring, MD 20910</span></li>
            <li><i class="glyphicon glyphicon-envelope text-primary"></i><span>allavasylyga@gmail.com</span></li>
          </ul>

          <h3>Feedback</h3>
          <p>
            Customer satisfaction is very important to me. With that said if there is anything you would like to see  
            or anything that you think should not be here I would like to know. Feedback is the key to a succesfull experience for 
            both you and me!  </p>
        </div>
    </div>
  </section>