<section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(assets/img/img_7.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 data-animate-effect="fadeIn">Gallery</h1>
        <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
          <h2>Alla Vasylyga</h2>
        </div> 
      </div>
    </div>
  </div>
</section>
<main>
    <section id="next-section" class="probootstrap-section">
      <div class="container">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </section>
  </main>

