.container{
    max-width: fit-content;
}

.mainClass{
    background-color: gainsboro;
}

.galleryTitle{
    color: firebrick;
    text-shadow: 6px 8px rebeccapurple;
}

.myTitle{
    text-align: center;
    color: palevioletred;
    text-shadow: 2px 2px black;
}

:host /deep/ .tabs__tab[_ngcontent-c3]{
    display: block;
    background-color: orchid;
}