<section class="probootstrap-intro probootstrap-intro-inner" style="background-image: url(assets/img/photography-banner.png);"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 data-animate-effect="fadeIn" class="galleryTitle">Gallery</h1>
        <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
          <h2>Alla Vasylyga</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="mainClass">
    <div>
      <section id="next-section" class="probootstrap-section">
        <div class="container">
          <h2 class="myTitle">WBFF</h2>
          <ngx-gallery [options]="galleryOptions" [images]="wbffGalleryImages"></ngx-gallery>
        </div>
      </section>
    </div>
    <div>
        <section id="next-section" class="probootstrap-section">
            <div class="container">
              <h2 class="myTitle">FITNESS</h2>
              <ngx-gallery [options]="galleryOptions" [images]="fitGalleryImages"></ngx-gallery>
            </div>
          </section>
        </div>>

</main>