.icons{
    padding-right: 20px;
}

.log{
    padding-right: 100px;
}

.email{
    padding-left: 200px;
    font-weight: 100;
    color: aliceblue;
    text-shadow: 4px -7px 7px black;
}

.is-active {
    border-bottom: 2px solid white;
}

.bootsrap-header {
    width: 300% !important;
}

.body{
    width: max-content !important;
}

a{
    text-shadow: -1px 1px black;
}
  
