<!-- START: header -->

<header class="probootstrap-header ">
  <div class="container-fluid">
    <a href="index.html" class="probootstrap-logo">AllitaFit</a>

    <nav class="probootstrap-nav hidden-xs">
      <ul class="probootstrap-main-nav">
        <li *ngIf="isLogged"><a routerLink="/login">Login</a></li>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/programs">Programs</a></li>
        <li><a routerLink="/testimonials">Testimonials</a></li>
        <li><a routerLink="/cardio">Cardio-Challenge</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li *ngIf="isAdmin"><a routerLink="/admin">Admin</a></li>
        <li class="email">{{email}}</li>
      </ul>
      <ul class="probootstrap-header-social hidden-xs">
        <li><a href="https://www.facebook.com/Allitafit/" target="blank"><i class="fa fa-facebook icons"></i></a></li>
        <li><a href="https://www.instagram.com/allitafit_wbffpro/" target="blank"><i
              class="fa fa-instagram log"></i></a></li>
        <li *ngIf="isLogged"><a (click)="logout()"><i class="fa fa-sign-out icons"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- END: header -->