
  <!-- START: header -->

  <header role="banner" class="probootstrap-header">
    <div class="container-fluid">
        <a href="index.html" class="probootstrap-logo">AllitaFit</a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs" >
          <ul class="probootstrap-main-nav" >
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/blog">Blog</a></li> 
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/programs">Programs</a></li>
            <li><a routerLink="/testimonials">Testimonials</a>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/admin">Admin</a></li>
          </ul>
          <ul class="probootstrap-header-social hidden-xs">
            <li><a href="https://www.facebook.com/Allitafit/" target="blank"><i class="fa fa-facebook icons"></i></a></li>
            <li><a href="https://www.instagram.com/allitafit_wbffpro/" target="blank"><i class="fa fa-instagram log"></i></a></li>
            <li><a routerLink="/login"><i class="fa fa-sign-in icons"></i></a></li>
          </ul>
        </nav>
    </div>
  </header>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <app-footer></app-footer>
  
  <!-- END: header -->
