.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .header {
    padding-right: 40px;
  }

  .dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.spacing {
  padding-left: 10px;
}

.aboveFoooter{
  padding: 40px;
}

.messi{
  padding-bottom: 30px;
  text-align: center;
}