.itemCenter{
    margin-right: 14%;
    margin-left: 14%;
    border-radius: 10px;
    margin-top: 0.75rem;
}

.myText{
    font-size: larger !important;
    color: dimgray;
}

.myBody{
    background-color: lavenderblush;
}
