<section class="probootstrap-intro probootstrap-intro-inner"
  style="background-image: url(../../assets/img/Carl-Kerridge-Photography-Alla-Studio2-30.jpg);"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 data-animate-effect="fadeIn" class="myTitle">Testimonials</h1>
        <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
          <h2>Alla Vasylyga</h2>
        </div>
      </div>
    </div>
  </div>
  <span class="probootstrap-animate"><a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down <i
        class="icon-chevron-down"></i></a></span>
</section>

<section id="next-section" class="probootstrap-section back1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 probootstrap-relative">
        <h2 class="probootstrap-heading mt0 mb50">Stronger Together</h2>
      </div>
    </div>

    <div class="row rowProp">
      <div class="testi">
        <h2 class="myh2">Ama</h2>
        <p class="pIndent">Welcome Ama! She is 61 years old, and just accomplished 15 months of training!!! Wow! She got
          stronger,happier, and healthier! Love her very much and very proud of her!</p>
      </div>
      <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
         
        <div class="item" *ngFor="let image of amaPics">
          <div class="thumbnail-image">
            <div *ngIf="isValid(image)">
              <img src={{image}} class="img-responsive img-rounded">
            </div>
            <div *ngIf="!isValid(image)">
                <iframe width="484" height="322" [src]="image" frameborder="0" allow="accelerometer; 
                autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>

    <div class="row rowProp">
      <div class="testi">
        <h2 class="myh2">Chet</h2>
        <p class="pIndent">Everyone please welcome Chet! He was in the military for 12 years, and when I met him first he was already 12 month  out of  service.
          If you have spent years following a military work schedule, deployments and early morning group physical exercises, a relaxed lifestyle can be a welcome change. 
          The transition period from active duty to civilian life can be both exciting and stressful.However, one change that isn’t wanted is a substantial weight gain, 
          which many veterans experience following their separation from service. According to the Department of Veterans Affairs (VA), 78% of veterans are either overweight or obese.
          In 6 month of training with me Chet regain his mobility and strength, also he started yoga classes and improved flexibility and balance. Chet put 110% in every workout, 
          and with a good muscle background body responded immediately! We saw progress in 4 month already! Very proud of you and honored to work with you!</p>
        </div>
      <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let image of chetPics">
          <div class="thumbnail-image">
            <div *ngIf="isValid(image)">
              <img src={{image}} class="img-responsive img-rounded">
            </div>
            <div *ngIf="!isValid(image)">
                <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>

    <div class="row rowProp">
      <div class="testi">
        <h2 class="myh2">Kiki</h2>
        <p class="pIndent">Kiki's goal was to be in the best shape in her life by her birthday...But she didn't stop! She keep crushing her goals, 
          setting new goals and besides 2-3 times a week training with me she does soul cycling, yoga, and HIIT classes! This girl is a fire!</p>
      </div>
      <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let image of kikiPics">
          <div class="thumbnail-image">
              <div *ngIf="isValid(image)">
                  <img src={{image}} class="img-responsive img-rounded">
              </div>
              <div *ngIf="!isValid(image)">
                    <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </owl-carousel>
    </div>

    <div class="row rowProp">
        <div class="testi">
          <h2 class="myh2">Bruce</h2>
          <p class="pIndent">Bruce started training with me a few month ago and already have great results! Besides weight loss, his flexibility 
            and mobility improved, and (I say that guys are very lucky to be more athletic by nature) his strength increasing every training and 
            I am very happy to be able increase workout intensity more and more! Also, he and Naomi got to the final round of "Body Fat% Loss" 
            competition and final measurements are on April 14th, let's see who will get 1st place!</p>
        </div>
        <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
          <div class="item" *ngFor="let image of brucePics">
            <div class="thumbnail-image">
                <div *ngIf="isValid(image)">
                    <img src={{image}} class="img-responsive img-rounded">
                </div>
                <div *ngIf="!isValid(image)">
                      <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                      autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
          </div>
        </owl-carousel>
      </div>

      <div class="row rowProp">
          <div class="testi">
            <h2 class="myh2">Naomi</h2>
            <p class="pIndent">KNaomi made this testimonial when she was working out 7 month with me and now we are celebrating 18 months of training! 
                Keep it up! During this year you won “Fat loss%” 2018 competition, got in a third round of “Body fat% loss” competition 2019 with Bruce (wish you “good luck!”), 
                celebrate with our team “Stronger Together” Thanksgiving, Secret Santa and Valentines! There is no limit for perfection, and the secret is in consistency, 
                discipline and knowledge. You inspired many, I wish you the best luck in reaching more goals and I will be there for you!</p>
          </div>
          <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let image of naomiPics">
              <div class="thumbnail-image">
                  <div *ngIf="isValid(image)">
                      <img src={{image}} class="img-responsive img-rounded">
                  </div>
                  <div *ngIf="!isValid(image)">
                        <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
            </div>
          </owl-carousel>
        </div>

        <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">Amber</h2>
              <p class="pIndent"><b>"</b>My experience training with Alla was amazing! Alla is not only the best trainer, but also a wonderful person. My experience training with Alla was fun and a 
                great learning experience. Alla created a fun competition between myself and 4 other women, where after a month of training whomever lost the most weight and inches and gained 
                muscle won a cash prize. With the physical training and nutritional knowledge I received from Alla, I was able to win that competition. It was nice to win that prize, but 
                what was even better than winning was the knowledge and experience I got while achieving my goals. Thank You Alla for all of your help!"</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of amberPics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive img-rounded">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>

          <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">Metty</h2>
              <p class="pIndent"><b>"</b>Metty started exercise with me a little over a year ago, she lost 17 lb and gained muscles, improved health and increased strength level. 
                She says that she doesn't want to loose weight any more, but she keeps working out because it's her lifestyle now and exercise makes her feel good. She is always 
                having way too much fun with girls during our sessions and sometimes it seems like we have a party!:))) Metty is very dedicated and I always set her as example of 
                good nutrition and consistent trainings. So happy to have such amazing clients who become family!</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of mettyPics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive img-rounded">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>

          <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">India</h2>
              <p class="pIndent"><b>"</b>India, it's been almost 1.5 year as we are in this fitness journey together! I love your positivity and enthusiasm during trainings, you take every 
                challenge with laugh even when you say you will cry :) You pushing your limits and thats what brings results! You have made this testimonial when you just started and you 
                moved so much since then! It's time to set new goals and crush them! Get summer 2019 ready! Vacation is coming soon :)</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of indiaPics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive img-rounded">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>

          <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">Pavithra</h2>
              <p class="pIndent"><b>"</b>My name is Pavithra George and I started training with Alla in May 2018.  I had worked out with several trainers earlier but was unable to stick to a workout program, partly 
                because I always found them intimidating. At age 40,  battling hypothyroidism and bad knees, I was even more apprehensive about starting a new workout regime with another trainer. 
                Alla made me feel at ease right away. She has allowed me to work at my own pace, while making sure I maintain proper form and breathing habits. I have an unpredictable work schedule 
                and Alla has always found a way to work with me, ensuring that I never miss my workouts with her twice a week. She works hard everyday to create individual routines for her diverse 
                group of clients who are of all ages and fitness levels. In addition to fitness, she also takes great interest in our nutrition and often holds seminars to improve our eating habits. 
                In about six months, I have lost almost 14 inches and 11 pounds and I am much stronger than what I used to be. Alla believes in all of her clients and it shows in the hard work and 
                dedication with which she approaches her training sessions with us. I highly recommend her!</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of pavPics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive img-rounded">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>

          <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">Simone</h2>
              <p class="pIndent"><b>"</b>There are many good fitness instructors. What sets Alla apart is that she doesn’t just craft a workout program perfectly customized to your goals and physique, she cares about 
                your holistic health and fitness progress more than any trainer I’ve ever worked with. Alla believes that an educated client makes the most successful client and provides 
                guidance on every aspect of fitness, from technique to nutrition to sleep and stress management. She‘s like your best friend, drill sergeant, and mother rolled into one. 
                You can’t go wrong with Alla.</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of simonePics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive img-rounded">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>

          <div class="row rowProp">
            <div class="testi">
              <h2 class="myh2">Tracy</h2>
              <p class="pIndent"><b>"</b>There are many good fitness instructors. What sets Alla apart is that she doesn’t just craft a workout program perfectly customized to your goals and physique, she cares about 
                your holistic health and fitness progress more than any trainer I’ve ever worked with. Alla believes that an educated client makes the most successful client and provides 
                guidance on every aspect of fitness, from technique to nutrition to sleep and stress management. She‘s like your best friend, drill sergeant, and mother rolled into one. 
                You can’t go wrong with Alla.</p>
            </div>
            <owl-carousel [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let image of tracyPics">
                <div class="thumbnail-image">
                    <div *ngIf="isValid(image)">
                        <img src={{image}} class="img-responsive">
                    </div>
                    <div *ngIf="!isValid(image)">
                          <iframe width="484" height="350" [src]="image" frameborder="0" allow="accelerometer; 
                          autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </owl-carousel>
          </div>
  </div>
</section>