.thumbnail-image {
    padding: 10px;
}

.row {
    display: block;  
}

.rowProp{
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
}

.pIndent{
    text-indent: 15px;
}

.container {
    max-width: 1514px;
}

.back1{
    background-color: aliceblue;
}

.myTitle{
    color: rosybrown;
    text-shadow: -5px 6px darkmagenta;
}

.testi{
    padding: 20px;
}

.myh2{
    text-align: center;
}

.img-rounded{
    border: 2px black;
    border-style: solid;
}
