<div>
  <section class="probootstrap-intro probootstrap-intro-inner"
    style="background-image: url(../../assets/img/1banner.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 probootstrap-intro-text">
          <h1 data-animate-effect="fadeIn" class="myTitle">Testimonials</h1>
          <div class="probootstrap-subtitle" data-animate-effect="fadeIn">
            <h2>Alla Vasylyga</h2>
          </div>
        </div>
      </div>
    </div>
    <span class="probootstrap-animate"><a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down <i
          class="icon-chevron-down"></i></a></span>
  </section>

  <section id="next-section" class="probootstrap-section back1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 probootstrap-relative">
          <h2 class="probootstrap-heading mt0 mb50">Stronger Together</h2>
        </div>
      </div>

      <div>
        <testimonial-model *ngFor="let test of testimonials" [testimonial]="test"></testimonial-model>
      </div>

    </div>
  </section>
</div>