.probootstrap-animate {
    opacity: 0;
    visibility: hidden;
  }

  .probootstrap-intro .probootstrap-subtitle {
    max-width: 700px;
  }

  .thumbnail-image {
    padding: 10px;
}

.img-width {
  width: 500px;
}

li{
  font-style: italic;
}
ol {
  font-weight: bold;
}

.myTitle{
  text-shadow: 4px 4px #c1c7c7;
}

.row{
  display: block !important;
}